<table id="queryResult" class="result-info">
   <tbody>
      <% @order.records.each do |r| %>
         <tr>
           <td class="row1"><%= r.time.strftime("%Y-%m-%d %H:%M:%S") %></td>
           <td class="status"></td>
           <td><%= r.context %></td>
         </tr>
      <% end %>
   </tbody>
</table>

